<p id="notice"><%= notice %></p>

<p>
  <strong>Student image:</strong>
  <%= @student_profile.student_image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @student_profile.description %>
</p>

<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>
