<p id="notice"><%= notice %></p>

<h1>Schooladmins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Boss</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schooladmins.each do |schooladmin| %>
      <tr>
        <td><%= schooladmin.name %></td>
        <td><%= schooladmin.address %></td>
        <td><%= schooladmin.city %></td>
        <td><%= schooladmin.state %></td>
        <td><%= schooladmin.zip %></td>
        <td><%= schooladmin.boss %></td>
        <td><%= link_to 'Show', schooladmin %></td>
        <td><%= link_to 'Edit', edit_schooladmin_path(schooladmin) %></td>
        <td><%= link_to 'Destroy', schooladmin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schooladmin', new_schooladmin_path %>
