<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @schooladmin.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @schooladmin.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @schooladmin.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @schooladmin.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @schooladmin.zip %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @schooladmin.boss %>
</p>

<%= link_to 'Edit', edit_schooladmin_path(@schooladmin) %> |
<%= link_to 'Back', schooladmins_path %>
