<%= current_user.id %>
<%= params[:id] %>
<%= current_user.admin %>

<% if  (current_user.id.to_s == params[:id].to_s) || (current_user.admin == true)  %>
<div class="row">
  <div class="col-4">
    <div class="image-wrapper">
      <img src="https://dummyimage.com/175x250/000/fff"/>
    </div>
    <div class="profile-info">
      <h3><%= "#{@student.first_name} #{@student.last_name}" %></h3>
      <span class="email-address"><%= @student.email_address %></span>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @student.email_address %>
</p>

<p>
  <strong>Location address:</strong>
  <%= @student.location_address %>
</p>

<p>
  <strong>Location city:</strong>
  <%= @student.location_city %>
</p>

<p>
  <strong>Location state:</strong>
  <%= @student.location_state %>
</p>

<p>
  <strong>Location zip:</strong>
  <%= @student.location_zip %>
</p>

<p>
  <strong>Mobile phone number:</strong>
  <%= @student.mobile_phone_number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<% else %>
<h1> User Not Matching</h1>
<% end %>
