<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<p>
  <strong>Classes:</strong>
  <%= @professor.classes %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @professor.phone %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @professor.linkedin %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
