<p id="notice"><%= notice %></p>
<%= current_user.id %>
<%= params[:id] %>
<%= current_user.admin %>

<% if  (current_user.id.to_s == params[:id].to_s) || (current_user.admin == true)  %>
<p>
  <strong>First name:</strong>
  <%= @jobrec.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @jobrec.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @jobrec.email_address %>
</p>

<%= link_to 'Edit', edit_jobrec_path(@jobrec) %> |
<%= link_to 'Back', jobrecs_path %>
<% else %>
<h1> User Not Matching</h1>
<% end %>